<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Registro</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .form-control {
            background-color: #f6f7f8;
            color: white;
        }

        .btn {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>

    

    <form action="/registros" method="POST" id="myForm">
        <h1 class="h3 mb-3 font-weight-normal">Registro de Sesion</h1>
        <label for="inputuser" class="sr-only">Ponga su correo</label>
        <input type="text" name="correo"  class="form-control mb-3" placeholder="Correo" required autofocus>
        <label for="inputuser" class="sr-only">Nombre de Usuario</label>
        <input type="text"  name="user"  class="form-control mb-3" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password"  name="password"  class="form-control mb-3" placeholder="Contraseña" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="registerButton">Guardar Usuario
        </button>
    </form>
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
