body {
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.nav-link {
    color: white;
    background-color: #EC7C26;
}
.nav-link:hover {
    color: white;
    background-color: #84adda;
}