{% extends "admin/layout.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main-content">
  <div class="cover">
    <h1>Administrador Cliente</h1>
  </div>
  <div class="container">

    <form action="/admin/client" method="POST">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="miInput" oninput="limitarEntrada()" name="telefono">
      </div>

      <div class="form-group">
        <label for="provincia">Provincia</label>
        <select class="form-control" id="provincia" name="provincia">
          <option value="">-- Seleccionar --</option>
          <option value="El Oro">El Oro</option>
          <option value="Guayas">Guayas</option>
          <option value="Manabí">Azuay</option>
        </select>
      </div>

      <div class="form-group">
        <label for="canton">Cantón</label>
        <select class="form-control" id="canton" name="canton">
          <option value="">-- Seleccionar --</option>
          <option value="Machala">Machala</option>
          <option value="Pasaje">Guayaquil</option>
          <option value="Zamora">Ponce Enriquez</option>
        </select>
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion">
      </div>

      <div class="form-group">
        <label for="referencia">Referencia</label>
        <textarea class="form-control" id="referencia" name="referencia"></textarea>
      </div>

      <div class="form-group">
        <label for="mapa">Mapa</label>
        <input type="url" class="form-control" id="mapa" name="mapa" onchange="validarEnlace()">
      </div>

      <div class="form-group">
        <label for="comentario">Comentario</label>
        <textarea class="form-control" id="comentario" name="comentario"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>

  </div>
</main>

<script>
 // Validacion si los campos estan vacios
document.querySelector('form').onsubmit = function (e) {
    var inputs = this.querySelectorAll('input');
    var todosLlenos = true; // Asume que todos los campos están llenos

    for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].value === '') {
            todosLlenos = false; // Si un campo está vacío, establece todosLlenos en falso
            break; // No necesitas verificar el resto de los campos, así que puedes salir del bucle
        }
    }

    if (!todosLlenos) {
        e.preventDefault(); // Previene el envío del formulario
        alert('Los campos estan vacios');
    } else {
        alert('Enviado a la base de datos');
    }
};

// Validacion de numero telefonico
document.querySelector('form').addEventListener('submit', function(event) {
    var telefono = document.querySelector('input[name="telefono"]').value;
    var regex = /^09\d{8}$/; // Expresión regular para validar números de celular ecuatorianos

    if (!regex.test(telefono)) {
        alert('Por favor, ingresa un número de celular  válido.');
        event.preventDefault(); // Evita que el formulario se envíe
    }
});


  function validarEnlace() {
    let x = document.getElementById("mapa");
    let urlRegex = /^(http|https):\/\/[^ "]+$/; // Expresión regular para validar enlaces
    if (!urlRegex.test(x.value)) {
      alert("Por favor, ingresa un enlace válido.");
      x.value = "";
    }
  }
</script>
{% endblock %}