{% extends "admin/layout.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main-content">
  <div class="cover">
    <h1>Administrador Cliente</h1>
  </div>
  <div class="container">

    <form action="/admin/client" method="POST">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono" name="telefono">
      </div>

      <div class="form-group">
        <label for="provincia">Provincia</label>
        <select class="form-control" id="provincia" name="provincia">
          <option value="">-- Seleccionar --</option>
          <option value="El Oro">El Oro</option>
          <option value="Guayas">Guayas</option>
          <option value="Manabí">Manabí</option>
          <option value="Los Ríos">Los Ríos</option>
        </select>
      </div>

      <div class="form-group">
        <label for="canton">Cantón</label>
        <select class="form-control" id="canton" name="canton">
          <option value="">-- Seleccionar --</option>
          <option value="Machala">Machala</option>
          <option value="Pasaje">Pasaje</option>
          <option value="Zamora">Zamora</option>
          <option value="Guayaquil">Guayaquil</option>
        </select>
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion">
      </div>

      <div class="form-group">
        <label for="referencia">Referencia</label>
        <textarea class="form-control" id="referencia" name="referencia"></textarea>
      </div>

      <div class="form-group">
        <label for="mapa">Mapa</label>
        <input type="text" class="form-control" id="mapa" name="mapa">
      </div>

      <div class="form-group">
        <label for="comentario">Comentario</label>
        <textarea class="form-control" id="comentario" name="comentario"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>

  </div>
</main>

<script>
  $(document).ready(function () {
    $('button[type="submit"]').click(function (e) {
      e.preventDefault();

      var nombre = $('input[name="nombre"]').val();
      var telefono = $('input[name="telefono"]').val();
      var provincia = $('select[name="provincia"]').val();
      var canton = $('select[name="canton"]').val();
      var direccion = $('input[name="direccion"]').val();
      var referencia = $('textarea[name="referencia"]').val();
      var mapa = $('input[name="mapa"]').val();
      var comentario = $('textarea[name="comentario"]').val();

      if (nombre === "" || telefono === "" || provincia === "" || canton === "" || direccion === "" || referencia === "" || mapa === "" || comentario === "") {
        alert("Espacios en blanco");
      } else {
        $.ajax({
          url: '/admin/client',
          data: $('form').serialize(),
          type: 'POST',
          success: function (response) {
            alert("Envío exitoso");
            location.reload(); // Refresca la página
          },
          error: function (error) {
            console.log(error);
          }
        });
      }
    });
  });

</script>

{% endblock %}