{% extends "admin/layout.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main-content">
    <div class="cover">
        <br>
        <br>
        <h1>Modulo de Cobranza</h1>
    </div>
    <br>

    <div class="container">
        <div class="row">
            {% set grouped_products = {} %}
            {% for product in products %}
            {%- set key_tuple = (product.nombre, product.total,product.fecha_co,product.fecha_p) %}
            {%- if key_tuple not in grouped_products %}
            {%- set _ = grouped_products.update({key_tuple: []}) %}
            {%- endif %}
            {%- set _ = grouped_products[key_tuple].append(product) %}
            {% endfor %}
            {% for keys, productos in grouped_products.items() %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <form action="/admin/cobranza" method="POST">
                            <label for=""><input type="text" class="input-group-text" value="{{ keys[0] }}"
                                    name="nombre" readonly></label>
                            <label for="">
                                <input type="text" class="input-group-text total" value="{{ keys[1] }}" name="total"
                                    class="total">
                            </label>
                            <label for="">Fecha Pedido
                                <label for="fecha_p"><input type="text" class="input-group-text" value="{{keys[2]}}"
                                        name="fecha_p"></label>
                            </label>
                            <label for="">Fecha de Cobranza
                                <label for="fecha_co"><input type="text" class="input-group-text fecha"
                                        value="{{keys[3]}}" name="fecha_co"></label>
                            </label>
                            <label for="">Abono
                                <label for=""><input type="text" class="input-group-text abono" name="abono">
                                </label>
                            </label>
                            <label for="">Fecha del Abono
                                <label for=""><input class="input-group-text" type="date" name="fecha_ab">
                                </label>
                            </label>
                            <label for=""> Suma Total - Abono
                                <label for=""><input type="text" class="input-group-text resultado" name="resultado">
                                </label>
                            </label>
                            <label for="">Estado de la Deuda
                                <input type="text" class="input-group-text" name="pagado">
                            </label>

                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <a href="#" class="btn btn-success">Whassatps</a>

                        </form>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

</main>
<script>
    $(document).ready(function () {
        // Cuando el valor de '.total' o '.abono' cambie, realiza la resta
        $('.total, .abono').on('change', function () {
            // Encuentra el contenedor '.card-body' que contiene este '.total' o '.abono'
            let $cardBody = $(this).closest('.card-body');

            // Obtén los valores de '.total' y '.abono' dentro de este '.card-body'
            let total = parseFloat($cardBody.find('.total').val());
            let abono = parseFloat($cardBody.find('.abono').val());

            // Realiza la resta
            let resultado = total - abono;

            // Muestra el resultado en '.resultado' dentro de este '.card-body'
            $cardBody.find('.resultado').val(resultado);
        });
    });

    // Obtenemos todos los elementos de fecha
    let inputFechas = document.querySelectorAll(".fecha");

    // Inicializamos un contador
    let contador = 0;

    // Iteramos sobre cada elemento de fecha
    inputFechas.forEach(function (inputFecha) {
        let fechaInput = new Date(inputFecha.value);
        let fechaActual = new Date();

        // Calculamos la diferencia en milisegundos
        let diferencia = fechaActual - fechaInput;

        // Convertimos la diferencia a días
        let dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));

        // Creamos un elemento p para mostrar el mensaje
        let p = document.createElement("p");

        // Asignamos un ID al elemento p
        p.id = "mensaje" + contador;

        // Verificamos si hay atraso
        if (dias > 0) {
            p.innerText = "Tiene " + dias + " días de atraso";
        } else {
            p.innerText = "No hay atraso";
        }

        // Añadimos el elemento p después del elemento de fecha
        inputFecha.parentNode.appendChild(p);

        // Incrementamos el contador
        contador++;
    });


</script>
{% endblock %}