{% extends "admin/layout.html" %}
{% block content %}
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg></span>
    <input type="search" id="filtro" onkeyup="filtrar()" class="form-control" placeholder="Busqueda"
        aria-label="Username" aria-describedby="addon-wrapping">
</div>
<br>

<div class="container">
    <div class="row">
        {% set grouped_products = {} %}
        {% for product in products %}
        {%- set key_tuple = (product.nombre, product.total,product.fecha_p,product.fecha_co) %}
        {%- if key_tuple not in grouped_products %}
        {%- set _ = grouped_products.update({key_tuple: []}) %}
        {%- endif %}
        {%- set _ = grouped_products[key_tuple].append(product) %}
        {% endfor %}
        {% for keys, productos in grouped_products.items() %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    <form action="/admin/cobranza" method="POST">
                        <label for=""><input type="text" class="input-group-text" value="{{ keys[0] }}" name="nombre"
                                readonly></label>
                        <label for="">
                            <input type="text" class="input-group-text total" value="{{ keys[1] }}" name="total"
                                class="total">
                        </label>
                        <!-- Campos ocultos que se mostrarán cuando se haga clic en el botón "Mostrar más" -->
                        <div class="moreFields" style="display: none;">
                            <label for="">Fecha Pedido
                                <label for="fecha_p"><input type="text" class="input-group-text" value="{{keys[2]}}"
                                        name="fecha_p"></label>
                            </label>
                            <label for="">Fecha de Cobranza
                                <label for="fecha_co"><input type="text" class="input-group-text fecha"
                                        value="{{keys[3]}}" name="fecha_co"></label>
                            </label>
                            <label for="">Abono
                                <label for=""><input type="text" class="input-group-text abono" name="abono" required>
                                </label>
                            </label>
                            <label for="">Fecha del Abono
                                <label for=""><input class="input-group-text" type="date" name="fecha_ab" required>
                                </label>
                            </label>
                            <label for=""> Suma Total - Abono
                                <label for=""><input type="text" class="input-group-text resultado" name="resultado">
                                </label>
                            </label>
                            <label for="">Estado de la Deuda
                                <select name="pagado" id="" class="input-group-text">
                                    <option value="Abono">Abono</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                            </label>
                        </div>

                        <button type="button" class="btn btn-info showMoreButton">Mostrar más</button>
                        <br>
                        <br>

                        <button class="editar btn btn-primary" type="submit">Guardar</button>
                        <a href="{{url_for('delete', product_nombre= keys[0])}}"
                            class="eliminar btn btn-danger">Eliminar</a>
                    </form>

                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
<script>
    // Este codigo sirve para que el boton mostrar mas se pueda visualizar bien 
    // Validacion si los campos estan vacios
    document.querySelectorAll('form').forEach(function (form) {
        form.onsubmit = function (e) {
            var inputs = this.querySelectorAll('input');
            var todosLlenos = true; // Asume que todos los campos están llenos

            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].value === '') {
                    todosLlenos = false; // Si un campo está vacío, establece todosLlenos en falso
                    break; // No necesitas verificar el resto de los campos, así que puedes salir del bucle
                }
            }

            if (todosLlenos) {
                e.preventDefault(); // Previene el envío del formulario
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Quieres enviar a este cliente?",
                    icon: 'sucess',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, enviar!',
                    cancelButtonText: 'No, cancelar!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit(); // Envía el formulario si el usuario confirma
                    }
                });
            }
        };
    });

    $('.showMoreButton').click(function () {
        $(this).prev('.moreFields').slideToggle();
    });
    $(".eliminar").click(function (event) {
        event.preventDefault();
        var url = $(this).attr('href'); // Guarda la URL del enlace
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Estás seguro de que quieres eliminar?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'No, cancelar!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url; // Navega a la URL del enlace
            }
        });
    });

    // Este codigo sirve para abonos 
    document.getElementsByName("fecha_ab")[0].addEventListener("change", function () {
        var fecha_p = new Date(document.getElementsByName("fecha_p")[0].value);
        var fecha_co = new Date(document.getElementsByName("fecha_co")[0].value);
        var fecha_ab = new Date(this.value);

        // Calcula la diferencia en días entre las fechas
        var diffDays_p = Math.ceil(Math.abs(fecha_ab - fecha_p) / (1000 * 60 * 60 * 24));
        var diffDays_co = Math.ceil(Math.abs(fecha_ab - fecha_co) / (1000 * 60 * 60 * 24));

        // Comprueba si fecha_ab es igual a fecha_p
        if (diffDays_p < 7) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'No se debe ingresar esa fecha'
            });
            this.value = "";
        }
        // Comprueba si fecha_ab es menor o igual a fecha_co
        else if (diffDays_co === 0) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'La fecha debe ser mayor a fecha cobranza'
            });
            this.value = "";
        }
    });
</script>
<script src="/static/js/cobranza.js"></script>
<script src="/static/js/re_co.js"></script>
{% endblock %}