<!DOCTYPE html>
<html>

<head>
  <title>Mi aplicación Flask</title>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- FONTAWESOME STYLES -->
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <!-- CUSTOM STYLES -->
  <link href="/static/css/custom.css" rel="stylesheet">
  <!-- GOOGLE FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- jQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="adjust-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">

          </a>
        </div>
        <span class="logout-spn" style="width: auto;">

        </span>
      </div>
    </div>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li class="active-link">
            <a href="./registro"><i class="fa fa-desktop "></i>Registro de Usuarios<span class="badge"></span></a>
          </li>
          <li>
            <a href="./v_user"><i class="fa fa-user "></i>Vista User <span class="badge"></span></a>
          </li>
          <li>
            <a href="./client"><i class="fa fa-edit "></i>Registro de Clientes <span class="badge"></span></a>
          </li>
          <li>
            <a href="./v_client"><i class="fa fa-eye "></i>Vista de Clientes</a>
          </li>
          <li>
            <a href="./products"><i class="fa fa-edit"></i>Ingreso de Productos</a>
          </li>

          <li>
            <a href="./pay"><i class="fa fa-eye "></i>Vista de Productos </a>
          </li>
          <li>
            <a href="./cobranza"><i class="fa fa-eye "></i>Vista de Cobranzas</a>
          </li>
          <li>
            <a href="./reporte"><i class="fa fa-edit "></i>Reporte </a>
          </li>
          <li>
            <a href="./stadist"><i class="fa fa-bar-chart-o "></i>Estudio de Morosidad </a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}">Salir</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
      <div id="page-inner">
        <div class="row">
          <div class="col-lg-12">

          </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        {% block content %}

        {% endblock %}
        <!-- /. terminar aqui  -->
        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
  </div>
</body>

</html>