{% extends "admin/layout.html" %}
{% block content %}
<br>
{% set grouped_products = {} %}
{% for product in products %}
{%- set key_tuple = (product.nombre, product.total) %}
{%- if key_tuple not in grouped_products %}
{%- set _ = grouped_products.update({key_tuple: []}) %}
{%- endif %}
{%- set _ = grouped_products[key_tuple].append(product) %}
{% endfor %}
{% for keys, productos in grouped_products.items() %}
<div class="">
    <table class="table">
        <thead>
            <tr>
                <th><label for="">Nombre</label></th>
                <th><label for="">Total</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input type="text" class="input-group-text" value="{{ keys[0] }}" name="nombre" readonly></th>

                <th><input type="text" class="input-group-text" value="{{ keys[1] }}" name="total" readonly></th>
            </tr>
        </tbody>
    </table>
</div>
{% for product in productos %}
<div>
    <form action="/edit/{{ keys[0] }}" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th><label for="telefono">Código</label></th>
                    <th><label for="">Nombre del producto</label></th>
                    <th><label for="provincia">Cantidad</label></th>
                    <th><label for="precio">Precio</label></th>
                    <th><label for="resultado">Resultado</label></th>
                </tr>
            </thead>
            <tbody style="background-color: gray;">
                
                    <input type="hidden" value="{{product.nombre}}" name="nombre"></th>
                    <tr>
                        <th><input type="text" class="" value="{{ product.codigo }}" name="codigo" readonly></th>
                        <th><input type="text" class="" value="{{ product.nombre_p }}" name="" readonly></th>
                        <th><input type="text" class="" value="{{ product.cantidad }}" name="cantidad" readonly></th>
                        <th><input type="text" class="" value="{{ product.precio }}" name="precio" readonly></th>
                        <th><input type="text" class="" value="{{ product.resultado }}" name="resultado" readonly></th>
                    </tr>
                
            </tbody>
        </table>
    </form>
</div>
{% endfor %}
{% endfor %}
<script src="/static/js/filtro.js"></script>
{% endblock %}