{% extends "admin/layout.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main-content">
    <div class="cover">
        <h1>Ingresado de Producto</h1>
    </div>
    <br>
    <div class="container">

        <form action="/admin/products" method="POST" id="myForm">
            <select name="nombre">
                {% for nombre in nombres %}
                <option value="{{nombre['nombre']}}">{{nombre['nombre']}}</option>
                {% endfor %}
            </select>
            <input type="date" name="fecha_p" placeholder="Fecha de Peticion">
            <input type="date" name="fecha_co" placeholder="Fecha de Cobranza">

            <br>
            <br>
            <div class="productos">
                <input type="text" name="codigo[]" class=" codigo" placeholder="codigo">
                <input type="text" name="precio[]" class=" precio" placeholder="precio">
                <input type="text" name="cantidad[]" class=" cantidad" placeholder="cantidad">
                <input type="text" name="resultado[]" class=" resultado" placeholder="resultado">
                <a href="javascript:void(0);" class="remove_button">Eliminar</a>
            </div>

            <div class="form-row">
                <div class="col-8"></div>
                <div class="col-5">
                    <br>
                    <br>
                    <input type="text" name="total" id="total" placeholder="Total">
                    <br>
                    <br>
                    <button type="button" id="addButton" class="btn btn-primary ">Agregar Producto</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>

<script src="/static/js/product.js"></script>
{% endblock %}