{% extends "admin/layout.html" %}
{% block content %}
<br>
<div class="col-lg-0 container">
    <Label>Total de Cobranzas</Label>
    <input type="text" name="suma" id="totalSuma" readonly>
    <Label>Total Abono</Label>
    <input type="text" name="suma" id="totalSuma2" readonly>
    <Label>Total de Saldos</Label>
    <input type="text" name="suma" id="totalSuma3" readonly>
</div>
<br>
<br>
<div class="container">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Nonbre</th>
                <th>total</th>
                <th>Fecha De Pedido</th>
                <th>Fecha Cobranza</th>
                <th>Abono</th>
                <th>Fecha Abono</th>
                <th>Saldo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for r_reporte in cobranza %}
            <tr>
                <form action="/admin/reporte" method="POST">
                    <td>
                        <input type="text" class="" value="{{r_reporte.nombre}}" name="nombre" hidden>
                        {{r_reporte.nombre}}
                    </td>
                    <td>
                        {{r_reporte.total}}
                        <input type="text" class="inputClass" value="{{r_reporte.total}}" hidden>
                    </td>
                    <td>
                        {{r_reporte.fecha_p}}
                    </td>
                    <td>
                        {{r_reporte.fecha_co}}
                        <input type="text" value="{{r_reporte.fecha_co}}" name="fecha_co" class="" hidden>
                    </td>
                    <td>
                        {{r_reporte.abono}}
                        <input type="text" value="{{r_reporte.abono}}" class="inputClass2" hidden>
                    </td>
                    <td>
                        {{r_reporte.fecha_ab}}
                        <input type="text" value="{{r_reporte.fecha_ab}}" name="fecha_ab" hidden>
                    </td>
                    <td>
                        {{r_reporte.resultado}}
                        <input type="text" value="{{r_reporte.resultado}}" class="inputClass3" hidden>
                    </td>
                    <td>
                        {{r_reporte.pagado}}
                    </td>
                    <td>
                        <button type="submit" class="enviar btn-primary">Enviar</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.querySelectorAll('form').forEach(function (form) {
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¿Estás seguro de querer enviarlo?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, enviar!',
                cancelButtonText: 'No, cancelar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            })
        });
    });


    // Suma de los valores totales
    document.addEventListener('DOMContentLoaded', (event) => {
        // Obtén todos los inputs que contienen los valores a sumar
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
        let inputs = document.querySelectorAll('.inputClass');
        let total = 0;
        // Recorre cada input y suma su valor al total
        for (let i = 0; i < inputs.length; i++) {
            total += Number(inputs[i].value);
        }
        // Encuentra el input donde quieres mostrar el resultado y asigna el total a su valor
        let totalInput = document.getElementById('totalSuma');
        totalInput.value = total;
    });
    // Suma de los valores Abono
    document.addEventListener('DOMContentLoaded', (event) => {
        // Obtén todos los inputs que contienen los valores a sumar
        let inputs = document.querySelectorAll('.inputClass2');
        let total = 0;
        // Recorre cada input y suma su valor al total
        for (let i = 0; i < inputs.length; i++) {
            total += Number(inputs[i].value);
        }
        // Encuentra el input donde quieres mostrar el resultado y asigna el total a su valor
        let totalInput = document.getElementById('totalSuma2');
        totalInput.value = total;
    });
    // Suma de los Saldos
    document.addEventListener('DOMContentLoaded', (event) => {
        // Obtén todos los inputs que contienen los valores a sumar
        let inputs = document.querySelectorAll('.inputClass3');
        let total = 0;
        // Recorre cada input y suma su valor al total
        for (let i = 0; i < inputs.length; i++) {
            total += Number(inputs[i].value);
        }
        // Encuentra el input donde quieres mostrar el resultado y asigna el total a su valor
        let totalInput = document.getElementById('totalSuma3');
        totalInput.value = total;
    });
</script>
{% endblock %}